* {
    margin: 0;
    font-family: 'work Sans', sans-serif;
}
.header{
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;

}
.header-content{ 
    text-align: right;
    font-size: 30px;
    padding-top: 260px;
    padding-right: 230px;
    padding-left: 1100px;
    padding-bottom: 200px;
    color: #FFFFFF;
    width: 500px;
    align-items: center;
}

.header-title{
   margin-bottom: 30px;
    
}
.btn-1{
    margin-top: 30px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 10px 30px;
    height: 60px;
    border-radius: 5px;
    background:  #FFFFFF;
}

/* section style stat */

.first-section{
    display: flex;
    height: 730px;
    padding-top: 140px;
    padding-left: 240px;
    padding-right: auto;
    justify-content: center;
    align-items: center;
}
.first-section-img{
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}
.img{
    width: 100%;
    margin-right: 20px;
}
.first-section-content{
    width: 416px;
    height: 400px;
    padding-top: 150px;
    padding-left: 90px;
    padding-right: 290px;
    /* margin-left: 10px; */
    
}
.first-section-title{
    width: 288px;
    height: 94px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
}
.first-section-p1{
    margin-bottom: 16px;
}
.tick{
    font-family: wingdings;
     font-size: 110%;
     color: rgb(17, 240, 17);
     margin-right: 5px;
    
}
.first-section-tick p{
    margin-bottom: 20px;
}
/* my plan styles start */
.my-plan{
    margin: 100px 0px;
   
}
.my-plan-title{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    margin: 50px 0px;
}
.my-plan-content{
    display: flex;
    justify-content: space-around;
    padding: 0px 180px;
  
}
.plan-div{
    text-align: center;
    
}
.my-plan-img{
    margin-bottom: 20px;
}
.my-plan-h{
    margin-bottom: 10px;
}
.my-plan-p{
    color: #737272;
    text-align: center;
}


/* positive mindset section start here */
.positive-mindset{
    background-image:
    linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 95, 172, 0)),
    url('images/watch.png');
    height: 400px;
    background-size: cover;
    color: white;
    width: 70%;
    margin-left:15%;
    border-radius: 8px;
   

}
.mindset{
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2280.96px;
    padding-top: 8%;
    padding-left: 5%;
}
.mindset-h{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

/* Extra Section start here */
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
    margin-top: 130px;
}
.form{
   text-align: center;
   display:flex;
   flex-direction: column;
   width: 70%;
   margin: 0 auto;
   gap: 30px;
  background-color: #87cefa;
  align-items: center;
  
  
}


.form-name{
    height: 50px;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
.form-email{
    height: 50px;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin-left: 20px;
}
.form-text{
    height: 100px;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin-left: 20px;
}
.btn-3{
    color: #FFFFFF;
    font-weight: 600;
    border: 0;
    padding: 10px 20px;
    height: 40px;
    border-radius: 5px;
    background:  #005FAC;
    width: 100px;
    text-align: center;
    margin-bottom: 30px;
  
}

/* footer style start */

.btn-2{
    color: #FFFFFF;
    font-weight: 600;
    border: 0;
    padding: 10px 20px;
    height: 40px;
    border-radius: 5px;
    background:  #005FAC;
}
.footer{
    display: flex;
    margin-top: 100px;
    background-color: black;
    color: #FFFFFF;
} 
.footer-content{
    padding: 130px 885px 130px 230px;
}

.footer-img{
    display: flex;
    
}
.footer-h{
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer-p{
    margin-bottom: 24px;
}
.footer-p2{
    margin-bottom: 16px;
}
.footer-p3{
    margin-bottom: 32px;
}
.div{
    margin-left: 15px;
}
.footer-sub{
    padding-top: 130px;
    padding-right: 230px;
    padding-bottom: 243px;
}
.footer-sub-h{
    margin-bottom: 20px;
}
.footer-sub-email{
    color: #FFFFFF;
    margin-bottom: 15px; 
    width: 220px;
    height: 40px;
    background-color: #151414;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding-left: 10px;

}

